<!DOCTYPE html>
<html>
<head>
    <title>Liver Cirrhosis Predictor</title>
</head>
<body>
    <h2>Enter Patient Details</h2>
    <form action="/predict" method="post">
        {% for key in [
            'Age', 'Durationofalcoholconsumptionyears', 'Quantityofalcoholconsumptionquartersday',
            'Hemoglobingdl', 'PCV', 'MCVfemtoliterscell', 'TotalCount',
            'Polymorphs', 'Lymphocytes', 'Monocytes', 'Eosinophils', 'Basophils',
            'PlateletCountlakhsmm', 'Directmgdl', 'Indirectmgdl',
            'TotalProteingdl', 'Albumingdl', 'Globulingdl',
            'ALPhosphataseUL', 'SGOTASTUL', 'SGPTALTUL'] %}
            <label>{{ key }}:</label><br>
            <input type="text" name="{{ key }}" required><br><br>
        {% endfor %}
        <button type="submit">Predict</button>
    </form>
</body>
</html>
